body {
  background-color: #589ed9;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#container {
  width: 280px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}

/* #header {
    margin-left: 50px;
}
 */
#header .logo .fa-weibo {
  font-size: 60px;
  color: white;
}

#header h1 {
  color: white;
  font-size: 32px;

  /*  padding: 0px;
  margin: 0px;
  padding-bottom: 18px; */
  margin-top: 10px;
}

#login .loginfields {
  background-color: white;
  border-radius: 20px;
}

#login .loginfields input {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  border: none;
  outline: none;
  padding-top: 18px;
  padding-bottom: 18px;
  text-indent: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


#login .loginfields .password {

  border-top: 1px solid #ccc;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#login .submit {
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 100%;
  border: none;
  background-color: #2186d4;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 12px;
  padding: 12px 0px;
  border-radius: 5px;

}

#login .submit:hover {
  background-color: #1671b7;
  color: black;
  cursor: pointer;
}

.footer p {
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.footer p a {
  color: white;
  text-decoration: none;
  font-weight: bold;

}
